@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style global des placeholders */
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #4b5563; /* gray-600 */
  opacity: 1;
}

/* Style global des inputs, selects et textarea */
input,
textarea,
select {
  color: #1f2937; /* gray-800 - texte foncé */
}

/* Option dans les selects */
select option {
  color: #1f2937; /* gray-800 */
}

/* Input disabled (plus clair) */
input:disabled,
textarea:disabled,
select:disabled {
  color: #9ca3af; /* gray-400 */
}
